<header>
  <nav class="navbar flx">
    <div class="logo flx">
      <img src="../../../../assets/others/Logo.png" alt="logo" />
    </div>
    <div class="container_features_and_search flx">
      <ul class="container_features flx">
        <li>
          <a> Menu</a>
        </li>
        <li>
          <a> Rewards</a>
        </li>
        <li>
          <a> Blog</a>
        </li>
      </ul>

      <div class="container_search_and_bookmark flx">
        <div class="search flx">
          <img src="../../../../assets/icons/search (1) 1.png" alt="search" />
          <input type="text" placeholder="Search" />
        </div>
        <img src="../../../../assets/icons/bookmarks.png" alt="book mark" />
      </div>
    </div>
  </nav>
</header>
