<div class="full_content_circle" [ngStyle]="{ 'width': styleInput.tam }">
  <div class="content_circle" [ngStyle]="{ 'height': styleInput.tam }">
    <div class="content_svg">
      <svg viewBox="0 0 100 100">
        <path d="M 0,50 a 50,50 0 1,1 0,1 z" id="circle" />
        <text>
          <textPath xlink:href="#circle">
            {{ styleInput.action.titleCircle }}
          </textPath>
        </text>
      </svg>
    </div>
    <div
      class="content_img"
      [ngStyle]="{ 'border-color': styleInput.borderColor }"
    >
      <img [src]="styleInput.img.imgUrl" [alt]="styleInput.img.altImg" />
    </div>
  </div>
  <div class="content_info" *ngIf="styleInput.action.description">
    <h3 [ngStyle]="{ 'color': styleInput.action.colorTitleDescription }">
      {{ styleInput.action.titleDescription }}
    </h3>
    <a *ngIf="styleInput.action.content">
      {{ styleInput.action.text }}
      <img [src]="optionImg()" alt="Action" />
    </a>
  </div>
</div>
