<div class="container_home">
  <section class="container_section_principal">
    <div class="container_info_principal">
      <article>
        <h1>Drink of the moment</h1>
        <p>
          Gin, also known as gin, is one of the most popular and appreciated
          alcoholic beverages worldwide, especially for its versatility in
          cocktails. Originally from Europe, this spirit has evolved over the
          centuries and comes in a wide range of styles and flavors.
        </p>
        <h2>4.9</h2>
      </article>
      <button class="ripple">
        Try now
        <span>
          <img src="../../../../assets/icons/Vector 1.png" alt="Arrow"/>
        </span>
      </button>
    </div>
    <div class="container_img_pricipal">
      <div class="container_img_sub">
        <img src="../../../../assets/others/Botella-Gin-centro.png" alt="GIN" />
      </div>
    </div>
    <div class="container_minicards">
      <!-- another option would be ngFor -->
      <app-card-circle></app-card-circle>
      <app-card-circle></app-card-circle>
      <app-card-circle></app-card-circle>
    </div>
  </section>
  <div class="container_imgs_background">
    <app-container-list></app-container-list>
  </div>
</div>
<app-search-by-letter></app-search-by-letter>
